<br><br><br>

<h1>Grade Details</h1>

<p>
  <strong>description:</strong>
  <%= @grade.description %>
</p>
<p>
  <strong>weight:</strong>
  <%= @grade.weight %>
</p>

<%= link_to 'Back', grades_path %>