<br><br><br>

<h1>Term Details</h1>

<p>
  <strong>Year:</strong>
  <%= @term.year %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @term.semester %>
</p>

<%= link_to 'Back', terms_path %>