<div id="welcome-view">
  <div id="welcome-background" class="fade"></div>
  <div class="welcome-container">
    <div class="welcome-hero-container">
      <div id="welcome-hero" class="fade">
        <div class="welcome-title">
          <h1>Awesome.</h1>
        </div>

        <div id="welcome-title-desc" class="fade horizontal-translate">
          Our website is pretty awesome.
        </div>

        <%= link_to '<button class="welcome-courses-btn" type="button">
          COURSES</button
        >'.html_safe, controller: 'courses' %>

        <i class="welcome-arrow-d"></i>
      </div>
    </div>

    <div class="welcome-content">
      <div id="welcome-details">
        <div id="welcome-details-info" class="fade vertical-translate">
          Our goal is to create a space for students to view and plan their course schedule.

          Here you will be able to find courses you're interested in and find out
          what you need to take them through a simple and intuitive interface that
          displays all the important bits without having to navigate through
          endless pages, digging for information.
        </div>

        <div id="welcome-details-about" class="fade vertical-translate">
          <div class="welcome-details-about-header">
           ABOUT US 
          </div>
          <div>
            Every project starts with a story.

            Made by five of the brightest minds of this generation. Putting their
            awesome skills together to solve a not-so-awesome problem one iteration
            at a time. We are Agile, we are awesome.
          </div>
        </div>

        <%= link_to '
        <div id="welcome-details-start" class="fade">
          GET STARTED
        </div>
        '.html_safe, controller: 'courses' %>
      </div>
    </div>

    <div class="welcome-footer">
      awesome
      <br />
      <span class="welcome-copyright">&#9400; 2019 Copyright</span>
    </div>
  </div>
</div>
