<p>
  <strong>name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>action:</strong>
  <%= @course.action %>
</p>

<p>
  <strong>information:</strong>
  <%= @course.information %>
</p>
